 - import các thư viện cần thiết để xử lý dữ liệu dạng bảng

In [122]:
import pandas as pd
import numpy as np

1. Hiển thị toàn bộ dữ liệu

In [123]:
data = pd.read_csv('P4AI_BT1.csv')
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

2. Điền các giá trị bị thiếu của dữ liệu theo phương pháp trung bình với các trường có giá trị số và theo phương pháp tần số cao nhất với giá trị rời rạc

- Phương pháp trung bình với các trường có giá trị số:

In [124]:
df1 = data.copy() 
# sao chép dữ liệu

In [125]:
display(df1.isna().sum())
display(df1)

sepal.length    15
sepal.width     15
petal.length    15
petal.width     15
variety         15
dtype: int64

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [126]:
# Thay giá trị NaN bằng các giá trị trung bình
df1['petal.length'].fillna(round(data['petal.length'].mean()), inplace = True)
df1['petal.width'].fillna(round(data['petal.width'].mean()), inplace = True)
df1['sepal.length'].fillna(round(data['sepal.length'].mean()), inplace = True)
df1['sepal.width'].fillna(round(data['sepal.width'].mean()), inplace = True)
display(df1)

C:\Users\84395\AppData\Local\Temp\ipykernel_24336\4206593282.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['petal.length'].fillna(round(data['petal.length'].mean()), inplace = True)
C:\Users\84395\AppData\Local\Temp\ipykernel_24336\4206593282.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['petal.width'].fillna(round(data['petal.width'].mean()), inplace = True)
C:\Users\84395\AppData\Local\Temp\ipykernel_24336\4206593282.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['sepal.length'].fillna(round(data['sepal.length'].mean()), inplace = True)
C:\Users\84395\AppData\Local\Temp\ipykernel_24336\4206593282.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['sepal.width'].fillna(round(data['sepal.width'].mean()), inplace = True)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

- Phương pháp tần số cao nhất với giá trị rời rạc

In [127]:
# Thay giá trị NaN bằng giá trị xuất hiện với tần số lớn nhất
df1['variety'].fillna(df1['variety'].mode()[0], inplace = True)
display(df1)

C:\Users\84395\AppData\Local\Temp\ipykernel_24336\1892250245.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['variety'].fillna(df1['variety'].mode()[0], inplace = True)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           4.0          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          1.0     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          3.0           5.0          1.9  Virginica
147           6.0          3.0           5.2          2.0  Virginica
148           6.0          3.4           4.0          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

- Kiểm tra lại

In [128]:
df1.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

3. Hiển thị các bản ghi có sepal.length > 5 và sepal.width > 3

In [129]:
filltered_data = df1[(df1['sepal.length'] > 5) & (df1['sepal.width'] > 3)]
display(filltered_data)

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
5             5.4          3.9           1.7          0.4      Setosa
6             6.0          3.4           1.4          0.3      Setosa
7             6.0          3.4           1.5          0.2      Setosa
10            5.4          3.7           1.5          0.2      Setosa
15            5.7          4.4           1.5          1.0      Setosa
16            5.4          3.9           1.3          0.4      Setosa
17            5.1          3.5           1.4          0.3   Virginica
18            5.7          3.8           1.7          1.0      Setosa
19            5.1          3.8           1.5          0.3      Setosa
20            5.4          3.4           4.0          0.2      Setosa
21            5.1          3.7           4.0          0.4      Setosa
23            5.1          3.3           1.7          0.5      Setosa
27            5.2          3.5           1.5          0.2   Virginica
28            5.2          3.4           1.4          0.2      Setosa
31            5.4          3.4           1.5          0.4      Setosa
32            5.2          4.1           1.5          0.1      Setosa
33            5.5          4.2           1.4          0.2   Virginica
36            5.5          3.5           1.3          0.2      Setosa
39            5.1          3.4           1.5          0.2      Setosa
43            6.0          3.5           1.6          0.6      Setosa
44            5.1          3.8           1.9          1.0      Setosa
46            5.1          3.8           1.6          0.2      Setosa
47            6.0          3.2           1.4          0.2      Setosa
48            5.3          3.7           1.5          0.2      Setosa
50            7.0          3.2           4.7          1.4   Virginica
51            6.4          3.2           4.5          1.0  Versicolor
52            6.0          3.1           4.9          1.5  Versicolor
56            6.3          3.3           4.7          1.6  Versicolor
65            6.7          3.1           4.4          1.4  Versicolor
70            5.9          3.2           4.8          1.8   Virginica
85            6.0          3.4           4.5          1.6  Versicolor
86            6.7          3.1           4.7          1.5  Versicolor
100           6.3          3.3           6.0          1.0   Virginica
110           6.5          3.2           5.1          2.0   Virginica
115           6.4          3.2           5.3          2.3   Virginica
117           7.7          3.8           6.7          2.2   Virginica
120           6.9          3.2           5.7          2.3   Virginica
124           6.7          3.3           5.7          2.1   Virginica
125           7.2          3.2           6.0          1.8   Virginica
131           7.9          3.8           6.4          2.0   Virginica
136           6.3          3.4           5.6          2.4   Virginica
137           6.4          3.1           5.5          1.8   Virginica
139           6.9          3.1           5.4          1.0   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
148           6.0          3.4           4.0          2.3   Virginica

4. Chuẩn hóa dữ liệu theo min max

- Chuẩn hóa 4 thuộc tính là sepal.length, sepal.width, petal.length, petal.width

In [130]:
df2 = df1.copy()

In [131]:
sepal_length_min = df2['sepal.length'].min()
sepal_length_max = df2['sepal.length'].max()

sepal_width_min = df2['sepal.width'].min()
sepal_width_max = df2['sepal.width'].max()

petal_length_min = df2['petal.length'].min()
petal_length_max = df2['petal.length'].max()

petal_width_min = df2['petal.width'].min()
petal_width_max = df2['petal.width'].max()

In [132]:
# Thực hiện chuẩn hóa theo min max với 4 trường dữ liệu ta có
df2['sepal.length'] = (df2['sepal.length'] - sepal_length_min) / (sepal_length_max - sepal_length_min)
df2['sepal.width'] = (df2['sepal.width'] - sepal_width_min) / (sepal_width_max - sepal_width_min)
df2['petal.length'] = (df2['petal.length'] - petal_length_min) / (petal_length_max - petal_length_min)
df2['petal.width'] = (df2['petal.width'] - petal_width_min) / (petal_width_max - petal_width_min)
display(df2)

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.508475     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.375000     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.416667      0.677966     0.750000  Virginica
147      0.472222     0.416667      0.711864     0.791667  Virginica
148      0.472222     0.583333      0.508475     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

5. Liên tục hóa thuộc tính variety

In [133]:
df3 = df2.copy()

Kiểm tra các thông tin trường variety

In [134]:
df3['variety'].unique()

array(['Setosa', 'Virginica', 'Versicolor'], dtype=object)

Đưa dữ liệu trường variety về dạng One-Hot Encoder

In [135]:
dummies = pd.get_dummies(df3['variety'])
display(dummies)

     Setosa  Versicolor  Virginica
0      True       False      False
1      True       False      False
2      True       False      False
3      True       False      False
4      True       False      False
..      ...         ...        ...
145   False       False       True
146   False       False       True
147   False       False       True
148   False       False       True
149   False       False       True

[150 rows x 3 columns]

Nối các trường dữ liệu ở dạng One-Hot với dạng dữ liệu ban đầu

In [136]:
df3 = pd.concat([df3, dummies], axis = 1)
df3.drop('variety', axis = 1, inplace = True)
display(df3)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
0,0.222222,0.625000,0.067797,0.041667,True,False,False
1,0.166667,0.416667,0.508475,0.041667,True,False,False
2,0.111111,0.500000,0.050847,0.041667,True,False,False
3,0.083333,0.458333,0.084746,0.375000,True,False,False
4,0.194444,0.666667,0.067797,0.041667,True,False,False
...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,False,False,True
146,0.555556,0.416667,0.677966,0.750000,False,False,True
147,0.472222,0.416667,0.711864,0.791667,False,False,True
148,0.472222,0.583333,0.508475,0.916667,False,False,True
149,0.444444,0.416667,0.694915,0.708333,False,False,True

6. Xây dựng mô hình hồi quy tuyến tính để đoán kết quả của thuộc tính variety dựa trên các thuộc tính khác

In [137]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [138]:
# Sao chép dữ liệu
df4 = df3.copy()

In [139]:
# Chuyển hóa dữ liệu
df4['Setosa'].replace({"False": 0, "True": 1}, inplace = True)
df4['Versicolor'].replace({"False": 0, "True": 1}, inplace = True)
df4['Virginica'].replace({"False": 0, "True": 1}, inplace = True)

C:\Users\84395\AppData\Local\Temp\ipykernel_24336\3960508042.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['Setosa'].replace({"False": 0, "True": 1}, inplace = True)
C:\Users\84395\AppData\Local\Temp\ipykernel_24336\3960508042.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['Versicolor'].replace({"False": 0, "True": 1}, inplace = True)
C:\Users\84395\AppData\Local\Temp\ipykernel_24336\3960508042.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['Virginica'].replace({"False": 0, "True": 1}, inplace = True)

In [140]:
# Tạo bộ test và bộ train
x = df4[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
y = df4[['Setosa', 'Versicolor', 'Virginica']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [141]:
# Huấn luyện dữ liệu
model = LinearRegression()  
model.fit(x_train, y_train)

LinearRegression()

In [142]:
# Dự đoán kết quả
y_pred = model.predict(x_test)

In [143]:
# Đánh giá mô hình và in ra độ chính xác
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 0.11640920117274316
R-squared: 0.45526367551343405

7. Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu

In [144]:
# Sao chép dữ liệu
df5 = df4.copy()

In [145]:
# Lấy ngẫu nhiên kết quả có lặp lại 50% dữ liệu
samped_df = df5.sample(frac = 0.5, replace = True, random_state = 1)
display(samped_df)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica
37,0.166667,0.666667,0.067797,0.000000,True,False,False
140,0.666667,0.416667,0.508475,0.958333,False,False,True
72,0.555556,0.208333,0.661017,0.583333,False,True,False
137,0.583333,0.458333,0.762712,0.708333,False,False,True
133,0.472222,0.333333,0.694915,0.375000,False,False,True
...,...,...,...,...,...,...,...
87,0.555556,0.125000,0.576271,0.500000,False,True,False
25,0.194444,0.416667,0.101695,0.041667,True,False,False
92,0.416667,0.250000,0.508475,0.458333,False,True,False
74,0.583333,0.375000,0.559322,0.500000,False,True,False
46,0.222222,0.750000,0.101695,0.041667,True,False,False

8. Rời rạc hóa thuộc tính sepal.length

In [146]:
# Sao chép dữ liệu
df6 = df4.copy()

Rời rạc hóa thuộc tính sepal.length

In [147]:
# Rời rạc hóa thuộc tính sepal.length
size = pd.cut(df4['sepal.length'],
    bins = [-0.1, 0.3, 0.4, 0.6, 0.8, 1.0],
    labels = ["Very low", "Low", "Medium", "High", "Very high"])
df6['Size'] = size
display(df6)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica,Size
0,0.222222,0.625000,0.067797,0.041667,True,False,False,Very low
1,0.166667,0.416667,0.508475,0.041667,True,False,False,Very low
2,0.111111,0.500000,0.050847,0.041667,True,False,False,Very low
3,0.083333,0.458333,0.084746,0.375000,True,False,False,Very low
4,0.194444,0.666667,0.067797,0.041667,True,False,False,Very low
...,...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,False,False,True,High
146,0.555556,0.416667,0.677966,0.750000,False,False,True,Medium
147,0.472222,0.416667,0.711864,0.791667,False,False,True,Medium
148,0.472222,0.583333,0.508475,0.916667,False,False,True,Medium
149,0.444444,0.416667,0.694915,0.708333,False,False,True,Medium

9. Phân cụm dữ liệu và loại bỏ ngoại lai

In [148]:
# Sao chép dữ liệu
df7 = df6.copy()

In [149]:
from sklearn.cluster import KMeans, DBSCAN

Khởi tạo mô hình KMeans với 3 cụm

In [150]:
kmeans = KMeans(n_clusters = 3, random_state = 42)

Phân cụm và gán nhãn cho từng cụm dữ liệu

In [151]:
df7['cluster'] = kmeans.fit_predict(df7[['Setosa', 'Versicolor', 'Virginica']])

Sử dụng DBSCAN để loại bỏ ngoại lai

In [152]:
dbscan = DBSCAN(eps = 0.3, min_samples = 2)

Gán nhãn ngoại lai

In [153]:
df7['outlier'] = dbscan.fit_predict(df7[['Setosa', 'Versicolor', 'Virginica']])

Loại bỏ các điểm ngoại lai (nhãn là -1)

In [154]:
df_no_outlier = df7[df7['outlier'] != -1]
display(df_no_outlier)

,sepal.length,sepal.width,petal.length,petal.width,Setosa,Versicolor,Virginica,Size,cluster,outlier
0,0.222222,0.625000,0.067797,0.041667,True,False,False,Very low,2,0
1,0.166667,0.416667,0.508475,0.041667,True,False,False,Very low,2,0
2,0.111111,0.500000,0.050847,0.041667,True,False,False,Very low,2,0
3,0.083333,0.458333,0.084746,0.375000,True,False,False,Very low,2,0
4,0.194444,0.666667,0.067797,0.041667,True,False,False,Very low,2,0
...,...,...,...,...,...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,False,False,True,High,1,1
146,0.555556,0.416667,0.677966,0.750000,False,False,True,Medium,1,1
147,0.472222,0.416667,0.711864,0.791667,False,False,True,Medium,1,1
148,0.472222,0.583333,0.508475,0.916667,False,False,True,Medium,1,1
149,0.444444,0.416667,0.694915,0.708333,False,False,True,Medium,1,1